<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="styles.css">
 
    <title>Ginellys Medina Portafolio </title>
</head>
<body> 
    <!-- navigation bar  -->
     <%=  %>
<div class="navbar">
    <div class="drophome">
        <button class="homebtn"> Home  </button>
        <div class="homecontent">
            <a href="aboutme.html"> About me </a> 
        </div>
    </div>
        <a href="contact.html"  target="_self"> Contact </a>

</div> 
</div>


                        <!-- PRESENTATION -->


<div class="presentation">
    <h1> Hi!, I'm Ginellys 🌼💋</h1>
    <h2> I'm a new software developer and welcome to my portfolio.</h2>
</div>

                                <!-- Projects -->

    <div class="container-dos"> 
        <div class="container">
           <a href="web-mob.html"> <img src="mobile.png" alt="Avatar" class="image"> 
            <div class="overlay">
              <div class="text">Mobile App</div> </a>
            </div>
        </div>
        <div class="container2">
            <a href="web-mob.html"><img src="website.png" alt="Avatar" class="image2">
            <div class="overlay2">
              <div class="text2">Landing page</div></a>
            </div>
        </div>
  
    </div>
                                            <!-- About me -->
    <div class="container-tres">
           <a href="aboutme.html">  <img id="profilepic" src="pp.jpg" alt="Ginellys Medina" > </a>
        <div class="tables"> 
                 <table>
                    <tr>
                        <th>Education</th>
                </tr>
                <tr>
                        <td>Software Engineer- Per Scholas (2025)</td>  
                </tr>
                <tr>
                    <th>Certification</th>
            </tr>
            <tr>
                    <td>HTML/CSS Scrimba (2025)</td>  
            </tr>
              </table>
          
                <form>
                    <label for="email">Subscribe to my newsletter</label>
                    <input type="email" id="email" name="email" placeholder="example@example.com" required>
                   <button>Submit</button>
                  </form>
               
               
    </div>

</div>

                                        <!-- FOOTER -->

    <footer>
        <p>&copy; 2025   My Solo Project</p>
    </footer>
</body>
</html>