<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="/stylesheet">

    <!-- <link rel="stylesheet" href="styles.css"> -->

    <title>Square One | <%=title%>
    </title>

    <style>
        /* @media only screen and (min-width: 600px) {} */
        body {
            font-family: "Poppins", sans-serif;
            margin: 0;
            background-color: #c1121f;
            font-family: "Poppins", sans-serif;

        }

        h1,
        p,
        a {
            text-align: center;
            align-items: baseline;
            padding-top: 10px;
            color: white;


        }


        .rform {

            background-color: #c1121f;

            justify-content: center;



        }

        #body {
            width: 400px;
            height: 100px;
            font-family: "Poppins", sans-serif;



        }

        input {
            display: block;
            margin-bottom: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-left: auto;
            margin-right: auto;
            width: 400px;
            height: 25px;
            background-color: #ffa5abff;
            border: 1px solid #ffa5abff;
            font-family: "Poppins", sans-serif;
            border-radius: 10px;
            font-family: "Poppins", sans-serif;
        }






        .submitbtn {
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding-top: 10px;
            padding-bottom: 10px;
            width: 400px;
            color: #da627dff;
            font-size: small;
            height: 60px;
            border: 1px solid #ffa5abff;
            font-family: "Poppins", sans-serif;
            background-color: #ffa5abff;
            border-radius: 10px;


        }

        .submitbtn:hover {
            background-color: #461220;
            color: white;
            cursor: pointer;
        }

        ::placeholder {
            text-align: left;
            color: #780000;
            padding-left: 10px;
        }

        .reviews {

            width: 400px;
            color: #90e0ef;
            border-radius: 10px;
            text-align: center;
            display: block;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            font-family: "Poppins", sans-serif;


        }

        #rating {
            font-size: small;
            color: white;
            text-align: center;
            font-family: "Poppins", sans-serif;


        }
    </style>
</head>

<body>
    <div class="title">
        <a href="/">
            <h1>Square One</h1>
        </a>
    </div>

    <form>
        <div class="rform">
            <a href="/reservations">
                <h1> Reserve at Square One </h1>
            </a>
    </form>
    <div class="rform">
        <form>
            <h1>Leave a review</h1>
            <input type="email" placeholder="Your email" name="email" required />
            <input type="text" id="body" required> </textarea>
            <input type="number" id="rating" min="0" max="5" placeholder="Rating" required>
            <button class="submitbtn">Submit</button>
        </form>
    </div>

    <div class="reviews">

        <h1> All reviews </h1>
        <% if (comentarios.length> 0 ) { %>
            <% comentarios.forEach(com=> { %>
                <h3 class="comment"> <%=com.comment %> </h3>
                <p class="rating"><h3> Rating </h3> <%=com.rating %> </p>
            
                <% }) %>
        <% } else {%>
            <p>There are no reviews to display </p> <%}%>
    </div>

</body>

</html>